doctype html
html
  head
    title Tanya'sDanceAcademy
    block scripts
    block style
  body
    nav#navbar
        ul#navigation
            div#logo
              img(src="https://i.pinimg.com/originals/e3/0a/b2/e30ab29dbddd2a3cf67dffda360408da.png", alt="error")
              
            li #[a(href="/") HOME]
            li #[a(href="/") ABOUT US]
            li #[a(href="/") SERVICES]
            li #[a(href="/") CLASS INFO]
            li #[a(href="/contact") CONTACT US]
    block content
    block foot
      footer#footer
        | Copyright @ TanyaDanceAcademy.com | All rights reserved