extends base.pug

block scripts
    script(src="../static/script.js")

block style
    style
      include ../static/style.css

block content
    section#intro
         div Welcome to Tanya's Dance Academy
         div.small Adorn your Hobby with Dance
    section#mission
         h2 Our Mission  
         div.card 
          h3 PERFORMANCE TEAMS!
          div.cardbox
            div.cardimg
              img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSEpYKGA73MSuxYlUKh7DNmlxP_uyQ7GqU42Q&usqp=CAU", alt="error")
            div.cardcontent  
              p skjfdnhkfjsdnkjvndfvnfhjv
         div.card 
          h3 EXPERT TEACHING!
          div.cardbox
            div.cardimg
              img(src="https://toppng.com/uploads/preview/roup-dancing-silhouette-png-picture-black-and-white-dance-team-clipart-115630729950ebir89asd.png", alt="error")
            div.cardcontent
              p skjfdnhkfjsdnkjvndfvnfc  

         div.card 
          h3 A VARIETY OF CLASSES! 
          div.cardbox
            div.cardimg
              img(src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX18362530.jpg", alt="error")
            div.cardcontent  
              p skjfdnhkfjsdnkjvndfffcg
    section#sponser
        h2 Our Sponsers
        div.main
          div.sponsers#microsoft
            img(src="https://cdn.vox-cdn.com/thumbor/VSSwGPlTwiV0AY5zL9Afu7KGpno=/0x28:640x388/1600x900/cdn.vox-cdn.com/assets/1311169/mslogo.jpg", alt="error", class="spimage" ,id="micro")
          div.sponsers
           img(src="https://seeklogo.com/images/S/skype-logo-3966BB87B0-seeklogo.com.png", alt="error" ,class="spimage",id="skype")
          div.sponsers
           img(src="https://cdn3.iconfinder.com/data/icons/picons-social/57/56-apple-512.png", alt="error",class="spimage" , id="apple")
          div.sponsers#hp
           img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJ8uDOzERYGveL2g5p-DWzBrhHDndEc9nwcQ&usqp=CAU", alt="error",class="spimage" class="hp")